# Виртуальная среда
.venv/
venv-offline/

# Данные и кэши
qdrant/
storage/
data/
temp/
processed/
snapshots/
__pycache__/
*.pyc
.env
*DIST*
# Логи
*.log

# Временные файлы
*.tmp
*.temp
*.qdrant*

# Системные файлы
.DS_Store
Thumbs.db